<form class="form-horizontal" action="{{ form_data.action }}" method="{{ form_data.method }}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
            {% if field.name == 'email_address' %}
            <label for="email" class="col-sm-2" control-label>Email</label>
            {% elif field.name == 'password' %}
            <label for="password" class="col-sm-2" control-label>Password</label>
            {% endif %}       
        {{ field }}
    </div>
    {% endfor %}

    <br>
    <div class="form-group" role="group">
    {% for button in form_data.button_list %}
    <button type='{{ button.type }}' class="btn btn-large btn-success {{ button.class }}" action="{{ button.action }}">{{ button.name }}</button>
    {% endfor %}
</form>
