{% extends "app/base.html" %}
{% block content %}

<form action="?q={{tag_query}}&t={{title_query}}" method="POST">
	{% csrf_token %}
	{{form}}  
  <input type="submit" name="submit" value="submit">
</form>


<!-- LIST OF ADS -->
    
<style>
  form{
  text-align:center;
  margin:auto;
  background-color:#336699;
  }
  input{
  width:20%;
  margin:2%;
  display:inline;

  }
  .mini-tags{
  
  border-radius:7px;
  background-color:turquoise;
  }
</style>
{% for ad in ad_list %}
<div style="margin:3em;background-color:white;color:black;padding:24px;font-weight:800;border-radius:20px">
  <h2 style="margin:10px"><a href="#"g>{{ad.title}}</a></h2>
  <div style="display:inline;color:navy"><div style="margin:5px;padding:10px 0;text-align:left;display:inline-block; font-size:20px">{{ ad.user.first_name }} {{ ad.user.last_name}}</div>
    <div style="margin:5px;padding:10px 0;text-align:right;float:right;display:inline;font-size:18px;">{% for member in ad.members.all %}{{member.first_name}} {{member.last_name}} 
      <span style="padding:25px"></span> {% endfor %}</div> </div>
  <div> <p style="font-size:14px;margin:5px">{{ ad.text |truncatewords:"100" }}</p> </div>
  <div style="text-align:right;font-size:15px;padding:5px;">	Tags: <span class="mini-tags">{{ ad.tags }}</span></div>
</div>
{% endfor %}
</div>
<h1>{{ msg }}</h1>

{% if flag %}
<a href='/create/True/'>Post</a>
{% endif %}

{% endblock %}

