{% extends "app/base.html" %}

{% block content %}

    <!-- Intro Header -->
    <header class="intro">
        <div >
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">HACK 4 NATION</h1>
                        <p class="intro-text">Find Your Team.<br>Hack Your Idea.</p>

                        <div class="dropdown">
                            <button id="dropdown" class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                                <span id="button-text">Select Your Hackathon</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labeledby="dropdown">
                                {% for h in hackathons %}
                                <li><a href="#about" data-link="{{h.link}}">{{h.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 style="font-size:200px;" class="glyphicon glyphicon-piggy-bank">
                        </h1>

                        <a id="team" href="#"><h2>I HAS IDEAZ</h2> </a>
                    </div>
                    <div class="col-sm-6">
                        <h1 style="font-size:200px;" class="glyphicon glyphicon-fire"></h1> 

                        <a id="indiv" href="#"><h2>I HAS SKILLZ</h2> </a>
                    </div>
            </div>
        </div>
    </div>
</section>

<script>
$(".dropdown a").click(function() {
    $("#button-text").text($(this).text());
})
</script>

    </body>


    {% endblock %}
